<!DOCTYPE html>
<html>

<head>
    <title>IOT Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../../styles/navbarStyles.css">
</head>


<body>
    <%- include('../navbar'); %>
        <header>
            <div class="container d-flex justify-content-center align-items-center mb-4 ">
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="container col-10 row text-center">
                        <div class="col-12">
                            <h1 class="display-4 mb-5 mt-3">IOT Edit device <%=founded.id%>
                            </h1>
                        </div>
                        <div class="col-12">
                            <p class="text-justify"> IoT Device Registration and Monitoring
                                Managing your Internet of Things (IoT) devices has never been easier. Our platform
                                allows
                                you to register and link
                                your devices, providing a centralized dashboard for real-time monitoring and insights.
                                From
                                smart home devices to
                                industrial sensors, stay informed about the performance and status of every connected
                                device
                                in your network.
                                Experience seamless integration and full control over your IoT ecosystem.</p>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <div
                class="container shadow-lg p-5 bg-light border rounded d-flex justify-content-center align-items-center">
                <form action="/iota/iot/modify/<%=founded.id%>?_method=PATCH" method="POST">
                    <div class="row d-flex justify-content-around align-items-center">
                        <div class="col-lg-6 col-md-12">
                            <div class="col-sm-12">
                                <div class="form-group ">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-5 col-sm-12">
                                            <label for="dev_name">Device Name</label>
                                        </div>
                                        <div class="col">
                                            <input type="text" class="form-control" id="dev_name" name="dev_name"
                                                placeholder="deviceName" minlength="5" value="<%=founded.name%>">
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group ">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-5 col-sm-12"><label for="dev_id"> Device ID</label>
                                        </div>
                                        <div class="col">
                                            <input type="text" class="form-control" hidden id="dev_id" name="dev_id"
                                                placeholder="uniqueID" min="1000" max="1024" value="<%=founded.id%>">
                                            <input type="text" class="form-control" placeholder="uniqueID" min="1000"
                                                max="1024" value="<%=founded.id%>" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group ">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-5 col-sm-12"><label for="dev_owner"> Device
                                                Owner</label>
                                        </div>
                                        <div class="col">
                                            <input type="text" class="form-control" hidden id="dev_owner"
                                                name="dev_owner" placeholder="dev_owner" value="<%=founded.owner%>">
                                            <input type="text" class="form-control" placeholder="owner"
                                                value="<%=founded.owner%>" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group ">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-5 col-sm-12"><label for="dev_loc"> Device
                                                Location</label>
                                        </div>
                                        <div class="col"><input type="text" class="form-control" id="dev_loc"
                                                name="dev_loc" placeholder="location of Device"
                                                value="<%=founded.location%>">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 my-2">
                            <div class="card shadow-sm border-0 rounded-3">
                                <div class="card-body text-center">
                                    <img class="img-fluid rounded shadow-lg m-1"
                                        style="width: 15rem; height:10rem; object-fit: cover;" src="<%=founded.img%>"
                                        alt="Device Image">
                                    <label for="dev_img" class="form-label fw-semibold">Upload Image</label>
                                    <input type="file" class="form-control mb-3" id="dev_img" accept="image/*">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="col-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-8 ">
                                            <label for="cb_exp"> Allow Device Expire</label>
                                        </div>
                                        <div class=" col ">
                                            <input type="checkbox" class="form-control" name="cb_exp" id="cb_exp" <%if
                                                (founded.exp===true ) {%>
                                            checked
                                            <%}%>>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-8">
                                            <label for="cb_en"> Disable Device</label>
                                        </div>
                                        <div class=" col ">
                                            <input type="checkbox" class="form-control" name="cb_en" id="cb_en" <%if
                                                (founded.expState===true ) {%>
                                            checked
                                            <%}%>>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="col">
                                    <div class="form-group ">
                                        <div class="row text-center">
                                            <label for="DateToExp"> Enter Date of Expiration</label>
                                        </div>
                                        <div class="row">
                                            <input type="date" class="form-control" id="DateToExp" name="DateToExp"
                                            min="<%=founded.expData? founded.expData:dateNow%>"    
                                            value=<%=founded.expData?founded.expData.toISOString().split(':')[0].substring(0, 10):dateNow%>
                                            <%= founded.exp===true?"":"disabled" %> >
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group text-center">
                                    <div class="col text-center">
                                        <div class="row"><label for="dev_dataTy">Data holder</label></div>
                                        <div class="row"><select name="dev_dataTy" id="dev_dataTy" class="form-control"
                                                required>
                                                <% for (let option of typeOptions) { %>
                                                    <option value=<%=option%> name="n_t" <% if (
                                                            founded.dataType===option){%>
                                                            selected<% } %>
                                                                > <%=option%>
                                                                    <%}%>
                                                    </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-8 col-md-12">
                            <div class="col-lg-4 col-md-5 col-sm-12">
                                <label for="dev_about">More about</label>
                            </div>
                            <div class="col">
                                <textarea class="form-control" id="dev_about" rows="6" name="devAbout"
                                    placeholder="Write about this Device"><%=founded.about%></textarea>
                            </div>
                        </div>


                    </div>

            </div>

            <div class="col-sm-12">
                <div class="form-group text-center">
                    <button class="btn btn-success">Verify Node</button>
                    <a class="btn btn-warning" href="../">Cancel</a>
                </div>

            </div>

            </form>
            </div>
        </main>
        <%- include('../footer'); %>
            <script src="../../../js/navBarEvents.js"></script>
            <script src="../../../js/modify.js"></script>
</body>

</html>