<!DOCTYPE html>
<html lang="en">

<head>
    <title>IOT Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../styles/navbarStyles.css">
</head>

<body>
    <%- include('../navbar'); %>
        <header>
            <div class="container d-flex justify-content-center align-items-center mb-4 ">
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="container col-10 row text-center">
                        <div class="col-12">
                            <h1 class="display-4 mb-5 mt-3">IOT add device</h1>
                        </div>
                        <div class="col-12">
                            <p class="text-justify"> IoT Device Registration and Monitoring
                                Managing your Internet of Things (IoT) devices has never been easier. Our platform
                                allows
                                you to register and link
                                your devices, providing a centralized dashboard for real-time monitoring and insights.
                                From
                                smart home devices to
                                industrial sensors, stay informed about the performance and status of every connected
                                device
                                in your network.
                                Experience seamless integration and full control over your IoT ecosystem.</p>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main>

            <!-- 
        whole container is
        display         : .d-flex
        flex direction  : .flex-column
        align items     : .align-items-center
        wrap            : .flex-nowrap

        every container is
        display         : .d-flex
        flex direction  : .flex-row
        wrap            : .flex-wrap
        align items     : .align-items-center
        justify         : .justify-content-around
        align content   : .align-content-center
        -->
            <div class="container d-felx flex-column align-items-center flex-nowrap mt-5">

                <form method="GET" action="/iota/iot/add" class="form-group">

                    <div class="container d-flex flex-row-reverse">

                        <button href="" class="btn btn-success form-control w-50"> <svg
                                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-plus-square" viewBox="0 0 16 16">
                                <path
                                    d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
                                <path
                                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                            </svg> Add IOT device

                        </button>

                    </div>

                </form>

                <div
                    class="container d-flex flex-row flex-wrap align-items-center justify-content-center align-content-center">

                    <% for (let devs of iotDevs){ %>
                        <div class="card m-2 col-lg-3 col-md-5 col-sm-12">
                            <img src=<%=devs.img %> style="width: 15rem; height:10rem; object-fit: cover;"
                            class="card-img-top" alt=<%=devs.img %>>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%= devs.owner %>'s Device
                                    </h5>
                                    <p class="card-text">This IOT Device is located in <strong>
                                            <%= devs.location %>
                                        </strong>, have this
                                        serial No. <br><span style="font-size: .9rem;">
                                            <strong>
                                                <%= devs.id %>
                                            </strong>
                                        </span><br>
                                        <strong>
                                            <% if (!devs.expState) { %>
                                                <span class="display-4"
                                                    style="font-size: 1.3rem; color: green; font-weight: bolder;">
                                                    Active</span>
                                                <% } else { %>
                                                    <span class="display-4" style="font-size: 1.3rem; color: grey;">
                                                        In-Active</span>
                                                    <%} %>
                                        </strong>

                                    </p>

                                    <div class="row">

                                        <!-- First form spans the entire width -->
                                        <div class="col m-1">
                                            <form action="/iota/iot/details/<%=devs.id %>" method="get"
                                                class="d-flex justify-content-center align-items-center m-1">
                                                <button class="btn btn-primary w-100">Detail</button>
                                            </form>
                                        </div>

                                        <!-- Second and third forms share the second row -->

                                        <div class="col m-1">
                                            <form action="/iota/iot/delete/<%=devs.id %>" method="post"
                                                class="d-flex justify-content-center align-items-center m-1">
                                                <input type="text" name="dev_id" id="dev_id" hidden
                                                    value="<%=devs.id %>">
                                                <button class="btn btn-danger">Terminate</button>
                                            </form>
                                        </div>
                                    </div>

                                </div>
                        </div>
                        <% } %>

                </div>
            </div>
        </main>
        <%- include('../footer'); %>
            <script src="../../js/navBarEvents.js"></script>
</body>

</html>